@use "sass:map";

@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-VariableFont_wght.ttf");
}

$font-family: "Kumbh Sans";
$font-size: 12px;

// colors
$text: (
    "Very dark desaturated blue": hsl(238, 29%, 16%),
    "Soft red": hsl(14, 88%, 65%)
);

$text-neutral: (
    "Very dark grayish blue": hsl(237, 12%, 33%),
    "Dark grayish blue": hsl(240, 6%, 50%)
);

$divider: hsl(240, 5%, 91%);

.text-very-dark-grayish-blue{
    color: map.get($text-neutral, "Very dark grayish blue");
}

.text-dark-grayish-blue{
    color: map.get($text-neutral, "Dark grayish blue");
}

.text-dark{
    color: #000;
}

.bg-illustration{
    background-color: $divider;
}

.border{
    border-bottom: 1px solid $divider;
}

.rotate-180{
    transform: rotate(180deg);
}

.background{
    @include linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}